[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==0.12.2"
Flask-Bcrypt = "==0.7.1"
Flask-Bootstrap = "==3.3.7.1"
Flask-Login = "==0.4.1"
Flask-Migrate = "==2.1.1"
Flask-SQLAlchemy = "==2.3.2"
Flask-WTF = "==0.14.2"
configparser = "==3.5.0"
coverage = "*"
"flake8" = "==3.5.0"
Flask-DebugToolbar = "==0.10.1"
Flask-Testing = "==0.7.1"
bokeh = "*"
tornado = "==4.3"
gunicorn = "*"
pandas = "*"
redis = "*"
"psycopg2-binary" = "*"

[dev-packages]
coverage = "*"
Flask-DebugToolbar = "*"
Flask-Testing = "*"
"flake8" = "*"

[requires]
python_version = "3.6.5"
