{% extends "_base.html" %}

{% block content %}

<div class="body-content">

  <h1>Sample Creator</h1>

  <p>Create a sample for use in uploading data.</p>

  <div class="row">

    <div class="column">
      {{ script|safe }}
    </div>

    <div class="column">
      <form action="/create_sample/" method="post">
        <input type="submit" name="flask_submit" value="Submit Sample">
      </form>
    </div>

    <div class="column">
      <p>
      {{ sample_json }}
    </p>
    </div>

  </div>

</div>


{% endblock %}
