{% extends "_base.html" %}

{% block content %}

<h3> NMR Data Upload </h3>
<hr>

<h4> Select Type of Data Source </h4>

<form method="POST" action="/">
  {{ form.hidden_tag() }}
  <br/>
  {% for subfield in form.data_type %}
  <tr>
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
    <br/>
  </tr>
  {% endfor %}
  <br/>

<h4> Number of Study Factors </h4>
<!-- Display lists of possible entries for each category. -->
  {{ form.decimal_factors.label }}
  {{ form.decimal_factors() }}
  <br/>
  {{ form.categorical_factors.label }}
  {{ form.categorical_factors() }}

  <br/>

<input type="submit" value="Go">
</form>

{% endblock %}
