{% extends "_base.html" %}
{% block content %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

  <!-- <h1>Welcome, <em>{{ current_user.email }}</em>!</h1> -->
  <!-- <h3>This is the members-only page.</h3> -->

  <div class="row">
    <h2>Enter NMR Literature Data</h2>

    <form method=post enctype="multipart/form-data">
        {{ render_field(form.name) render_field(form.csv) }}
      <p><input type=submit value=Submit>
    </form>

    <div class="row">
      {{ script|safe }}
    </div>
  </div>



{% endblock %}
