{% extends "_base.html" %}
{% block content %}

<div>
  <h1>IDREAM Database</h1>
  <hr><br>

</div>
<div>
  <a href="{{ url_for('user.nmrsql') }}">
    <h5>NMR Literature CrossFilter</h5>
  </a>

  <a href="{{ url_for('user.nmrsql') }}">
    <img src="{{ url_for('static', filename='idream_database_demo_screenshot.png') }}"
         style="width:200px; height:150px"
         title="Bokeh Demo"
         alt="Demo">
  </a>
  <a href="{{ url_for('user.upload') }}">
    <h5>Upload Data</h5>
  </a>

</div>
{% endblock %}
