{% extends "_base.html" %}
{% block content %}

<div>
  <h1>IDREAM Database</h1>
  <hr><br>

</div>
<div>

  <a href="{{ url_for('user.create_sample') }}">
    <h5>Create Sample</h5>
  </a>

  <a href="{{ url_for('user.new_ontology_source') }}">
    <h5>Create Ontology Source</h5>
  </a>

  <a href="{{ url_for('user.ontologies') }}">
    <h5>Ontologies</h5>
  </a>
  <!-- <a href="{{ url_for('main.bokeh_demo') }}">
    <h5>NMR Literature CrossFilter</h5>
  </a> -->


  <!-- <a href="{{ url_for('main.bokeh_demo') }}">
    <img src="{{ url_for('static', filename='idream_database_demo_screenshot.png') }}"
         style="width:200px; height:150px"
         title="Bokeh Demo"
         alt="Demo"> -->
  </a>
</div>
{% endblock %}
